/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  background-color: #242424;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}

.choices {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}

.choice {
  max-width: 200px;

  object-fit: cover;
}

.choice img {
  width: 100%;
  border-radius: 1rem;
  transition: hover 1s ease-in-out;
}

.choice img:hover {
  cursor: pointer;
  border: 5px solid #242424;
  transform: translateY(10px) rotate(90deg) scale(1);
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

.score {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}

.score #user-score,
#comp-score {
  font-size: 48px;
  font-weight: 800;
}

.msg-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg {
  font-size: 2rem;
  background-color: #242424;
  padding: 2rem 3rem;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 2px 2px #968888;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.btn {
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 5rem;
  color: #111;
}

.btn:hover {
  background-color: #111;
  color: #fff;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  height: 50vh;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #fff;
  
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.img-container img {
  max-width: 8rem;
  height: 8rem;
  
}

.score-container {
  /* background-color: hotpink; */
 /* max-width: 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.score {
  width: 60%;
  text-align: center;
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.score p {
  font-size: 2rem;
  font-weight: 600;
}

.score span {
  font-size: 3rem;
  font-weight: 800;
}

.display {
  text-align: center;
  margin-top: 2rem;
}

.display p {
  font-size: 2rem;
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-container button {
  width: 8rem;
  height: 3rem;
  border: 1px solid black
  font-size: 1.5rem;
  font-weight: 600;
}
